.state-cards {
  margin-top: 20px;
}

.filter-matches {
  background: white;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border: 1px solid #dee3ed;
  margin-top: 30px;
}
.filter-matches .header-filter {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--main-txt-color);
  margin-bottom: 35px;
}
.filter-matches .header-filter h3 {
  margin: 0;
  color: var(--main-txt-color);
  font-weight: 600;
}
.filter-matches .search-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.filter-matches .search-content {
  flex: 1;
  border-radius: 9px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 13px 15px;
  border: 1px solid #dee3ed;
  display: flex;
  gap: 10px;
  align-items: center;
}
.filter-matches .search-content i {
  color: gray;
}
.filter-matches .search-content input.search-match {
  outline: none;
  border: none;
  width: 100%;
}
.filter-matches .dropdown-content {
  border-radius: 9px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 13px 15px;
  border: 1px solid #dee3ed;
  position: relative;
  flex: 0.2;
}

.filter-matches .dropdown-content button.dropdown {
  outline: none;
  border: none;
  display: flex;
  font-size: 15px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.filter-matches .dropdown-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border: 1px solid #dee3ed;
  background-color: white;
  width: 100%;
  font-size: 14px;
  left: 0;
  top: 50px;
  border-radius: 10px;
  z-index: 10;
}
.filter-matches .dropdown-menu.show {
  display: flex;
}

.dropdown-item input[type="radio"] {
  display: none;
}
.dropdown-item {
  padding: 10px 20px;
  border-bottom: 1px solid gainsboro;
  position: relative;
}

.dropdown-item::before {
  content: "";
  display: none;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2'>\
<polyline points='20 6 9 17 4 12'/>\
</svg>");
  background-size: contain;
  background-repeat: no-repeat;
}
.dropdown-item:hover::before {
  display: inline-block;

}
.dropdown-item.selected::before {
  color: #4caf50;
}

@media (max-width: 768px) {
  .filter-matches .search-container {
    flex-direction: column;
    align-items: normal;
  }
  .dropdown-item {
    padding: 20px;
  }
}
