<div class="main-section">
  <section class="welcome-section">
    <div class="welcome-message">
      <h1>Welcome back, <span class="username">Loading...</span>!</h1>
      <p>Ready for another word challenge?</p>
    </div>
    <button class="quickplay">
      <i class="fa-solid fa-gamepad"></i>
      <span>Quick Play</span>
    </button>
  </section>
  <section class="state-cards">
    <div class="state-group">
      <div class="state-content">
        <div class="state-info">
          <h3>Total Games</h3>
          <p id="total-games">47</p>
          <span></span>
        </div>
        <i class="fa-solid fa-gamepad"></i>
      </div>
    </div>
    <div class="state-group">
      <div class="state-content">
        <div class="state-info">
          <h3>Win Rate</h3>
          <p id="win-rate">68%</p>
          <span id="win-lose">32W - 15L</span>
        </div>
        <i class="fa-solid fa-trophy"></i>
      </div>
    </div>
    <div class="state-group">
      <div class="state-content">
        <div class="state-info">
          <h3>Current Streak</h3>
          <p id="streak">5</p>
          <span>wins in a row</span>
        </div>
        <i class="fa-solid fa-arrow-trend-up"></i>
      </div>
    </div>
    <div class="state-group">
      <div class="state-content">
        <div class="state-info">
          <h3>Friends Online</h3>
          <p>8</p>
          <span>friends</span>
        </div>
        <i class="fa-solid fa-user-group"></i>
      </div>
    </div>
  </section>
  <div class="content-grid">
    <section class="performance-section">
      <h3>Performance Overview</h3>
      <p class="section-subtitle">
        Your wins and losses over the last 6 months
      </p>
      <div class="chart-container">
        <canvas id="performance-chart"></canvas>
      </div>
    </section>
    <section class="friends-section">
      <div class="header-friend">
        <h3>Friends</h3>
        <button class="add-friend-btn">
          <i class="fa-solid fa-user-plus"></i>
          Add Friend
        </button>
      </div>
      <div class="friend-content"></div>
    </section>
  </div>
  <section class="matches-section">
    <h3>Recent Matches</h3>
    <div class="matches-content">
    </div>
  </section>
</div>

<script type="module" src="/js/dashboard.js"></script>
